<div align="center">
		<br><br><br>
		<h4>Lista de notas</h4>
		
		
		<div class="box-nota" *ngFor="let note of notas">
		  <div class="title"> {{ note.title }} </div>
		  <div class="subtitulo left">Categoria: {{ note.category_name }}</div>
		  <div class="subtitulo right"> Estatus: 
		  	<div *ngIf="note.status; then thenBlock; else elseBlock"></div>
		  	    <ng-template #primaryBlock>Completa</ng-template>
		  	    <ng-template #elseBlock>Pendiente</ng-template>
		  </div>
		  <div class="note">{{ note.note }}</div>
		  <div class="fechas left">Creado: {{ note.created_at | date:"dd/MM/yyyy"}}</div>
		  <div class="fechas left">Actualizado: {{ note.updated_at | date:"dd/MM/yyyy" }}</div>
		  <div class="pie"><button class="left" md-button>Modificar</button><button class="right" md-button>Eliminar</button></div>
		</div>
		

		<br><br><br>
</div>