<div align="center">
		<br><br><br>
		<h4>Lista de notas</h4>

		<div class="agregar">
			<form class="example-form" (ngSubmit)="guardar(this)">
			  <md-input-container class="example-full-width">
			    <input type="text" mdInput placeholder="Titulo" required name="title" [(ngModel)]='title'>
			  </md-input-container>

			  <md-input-container class="example-full-width">
			    <input type="text" mdInput placeholder="Descripcion" required name="note" [(ngModel)]='note'>
			  </md-input-container>

			  <md-select placeholder="Categoria" [(ngModel)]="categoria" name="categoria" class="example-full-width">
			    <md-option *ngFor="let cat of categorias" [value]="cat.id">
			      {{cat.categoria}}
			    </md-option>
			  </md-select><br><br>
	    	  <button md-raised-button>Guardar</button>
			</form>
		</div>
		
		<div class="contenedor">
			<div class="box-nota" *ngFor="let note of notas">
			  <div class="title"> {{ note.title }} </div>
			  <div class="subtitulo left">Categoria: {{ note.category_name }}</div>
			  <div class="subtitulo right"> Estatus: 
			  	<div *ngIf="note.status; then thenBlock; else elseBlock"></div>
			  	    <ng-template #primaryBlock>Completa</ng-template>
			  	    <ng-template #elseBlock>Pendiente</ng-template>
			  </div>
			  <div class="note">{{ note.note }}</div>
			  <hr>
			  <div class="pie">
			  	<button class="left" md-button>Modificar</button>
			  	<button class="right" md-button (click)="eliminar(note.id)">Eliminar</button>
			  </div>
			  <div class="fechas left">Creado: {{ note.created_at | date:"dd/MM/yyyy"}}</div>
			  <div class="fechas left">Actualizado: {{ note.updated_at | date:"dd/MM/yyyy" }}</div>
			</div>
		</div>
		

		<br><br><br>
</div>